*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ff0000;
    overflow: hidden;
}

.gameConatiner{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.dino{
    background-image: url(dino-2024517_1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 230px;
    height: 150px;
    bottom: 0px;
    left: 52px;
    position: absolute;
}

#obstacle{
    background-image: url(dragon.png);
    background-size: cover;
    width: 166px;
    height: 113px;
    bottom: 0;
    left: 44vw;
    position: absolute;
}

.animateDino{
    animation: dino 0.5s linear;
}

.obstacleAni{
    animation: obstacleAni 4s linear infinite;
}

.gameOver{
    position: relative;
    top: 60px;
    font-size: 45px;
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
}

#scoreCont{
    font-size: 25px;
    color: #54212f;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu' 'Helvetica Neue';
    border-radius: 10px;
}

@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}